<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../node_modules/angular/angular.js"></script>
    <style>
        body {
            margin: 200px;
            border: 1px solid red;
            border-radius: 10px;
            width: 300px;
            padding: 20px 40px;
        }

        div {
            padding: 20px 30px;
            border-radius: 8px;
            border: 1px solid red;
        }
    </style>
</head>
<body ng-app="app">
    <div ng-controller="controller">
        <input type="text" ng-model="txt"><br />
        <input type="text" ng-model="txt">
    </div>
    <script>
        angular.module( 'app', [] )
            .controller( 'controller', function ( $scope ) {
            });
    </script>
</body>
</html>